#message_location{:data => @geojson}
  #hours_slider_package
    #hours_box
      #hour
        #top All
      #hour
        #top 7
        a.m.
      #hour
        #top 8
        a.m.
      #hour
        #top 9
        a.m.
      #hour
        #top 10
        a.m.
      #hour
        #top 11
        a.m.
      #hour
        #top 12
        p.m.
      #hour
        #top 1
        p.m.
      #hour
        #top 2
        p.m.
      #hour
        #top 3
        p.m.
      #hour
        #top 4
        p.m.
      #hour
        #top 5
        p.m.
      #hour
        #top 6
        p.m.
      #hour
        #top 7
        p.m.
      #hour
        #top 8
        p.m.
      #hour
        #top 9
        p.m.
      #hour
        #top 10
        p.m.
      #hour
        #top 11
        p.m.
      #hour
        #top 12
        a.m.
      #hour
        #top 1
        a.m.
      #hour
        #top 2
        a.m.
      #hour
        #top 3
        a.m.
      #hour
        #top 4
        a.m.
      #hour
        #top 5
        a.m.
      #hour
        #top 6
        a.m.
    #slider
  #map_legend_box
    .map_legend_item
      #leftvalue Weekends
    .map_legend_item
      #rightvalue Weekdays