#message_location{:data => @geojson}
  #hours_box
    #hour
      12am
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
    #hour
  #slider
